:root {
  --color-primario: #1a73e8;
  --color-secundario: #ffffff;
  --color-terciario: #f8f9fa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas: 
  "header header"
  "aside intro"
  "aside work"
  "footer footer";
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding: 10px;
  position: relative;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.hamburguesa {
  display: none;
}

.linea {
  width: 25px;
  height: 3px;
  background-color: var(--color-secundario);
  margin: 5px;
}

.menu {
  display:flex; 
  flex-wrap:wrap; 
  justify-content:center; 
  align-items:center; 
  background-color: var(--color-primario); 
  color: var(--color-secundario); 
  padding-top:.5rem; 
  padding-bottom:.5rem; 
  position:relative; 
  z-index:-1; 
  transition:.5s ease-in-out; 
  overflow:hidden;
}

.menu ul{
  display:flex; 
  flex-wrap:none; 
  list-style:none;
}

.menu ul li{
  margin-right:.5rem;
}

.menu ul li a{
  color: var(--color-secundario); 
  text-decoration:none;
}

.menu ul li a:hover{
  text-decoration:none;
}

aside {
  grid-area: aside;
}

.IntroSection {
  grid-area: intro;
}

.WorkSection{
  grid-area: work;
}

footer {
  grid-area: footer;
  width: 100%;
}
